[submodule "topobank"]
	path = topobank
	url = git@github.com:ContactEngineering/TopoBank.git
	branch = main
[submodule "topobank-statistics"]
	path = topobank-statistics
	url = git@github.com:ContactEngineering/topobank-statistics.git
	branch = main
[submodule "topobank-contact"]
	path = topobank-contact
	url = git@github.com:ContactEngineering/topobank-contact.git
	branch = main
[submodule "topobank-ml"]
	path = topobank-ml
	url = git@github.com:ContactEngineering/topobank-ml.git
	branch = main
