[submodule "topobank"]
	path = topobank
	#url = git@github.com:ContactEngineering/TopoBank.git
	url = https://github.com/ContactEngineering/topobank.git
	branch = main
[submodule "topobank-statistics"]
	path = topobank-statistics
	url = https://github.com/ContactEngineering/topobank-statistics.git
	branch = main
[submodule "topobank-contact"]
	path = topobank-contact
	url = https://github.com/ContactEngineering/topobank-contact.git
